
#define a function for matrix A and B multiply

import numpy as np
def MatrixMult(A, B):
    Alength = A.shape[0]
    Aweidth = A.shape[1]
    
    Blength = B.shape[0]
    Bweidth = B.shape[1]
    
    if(Aweidth != Blength):
        print("The matrix A can't multiply by B!")
        return 
     
    C = np.zeros((Alength, Bweidth))
    for i in range(Alength):
        for j in range(Bweidth):
            C[i][j] = 0
            for k in range(Aweidth):
                C[i][j] +=  A[i][k]*B[k][j]
    return C
###########################################################33

#Test code1
A = [[1, 2, 3],[4, 5, 6]]
A= np.array(A)
B = [[7, 8, 9],[4, 5, 6],[7, 8, 9]]
B= np.array(B)
C = MatrixMult(A, B)

#result1
[[1 2 3]
 [4 5 6]]
[[7 8 9]
 [4 5 6]
 [7 8 9]]
[[ 36.  42.  48.]
 [ 90. 105. 120.]]

#Test code2
A = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
A= np.array(A)
B = [[4, 5, 6],[7, 8, 9]]
B= np.array(B)
C = MatrixMult(A, B)
print(A)
print(B)
print(C)

#result2
The matrix A can't multiply by B!
[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[4 5 6]
 [7 8 9]]
None
